<!DOCTYPE html>
<html>
  <head>
    <title>Howe Family Cookbook</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Howe Family Cookbook</h1>
    <form action="/getRecipes" method="get">
      <input type="submit" name="submit" value="All Beverage Recipes" />
    </form>
  </body>
</html>
