<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook Maybe</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Query Results</h1>
    <p><%= result %></p>
  </body>
</html>
