<!DOCTYPE html>
<html>
  <head>
    <title>Show Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ../partials/header %>
    <h1>Beverages</h1>
    <ul>
      <%= result %>
    </ul>
    <p id="ulgarbage"></p>
    <% include ../partials/footer %>
  </body>
</html>
