<!DOCTYPE html>
<html>
  <head>
    <title>Show Up</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ../partials/header %>
    <h1>Beverages</h1>
    <ul>
      <%= result %>
    </ul>
    <p id="ulgarbage"></p>
    <% include ../partials/footer %>
  </body>
  <script
    src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"
  ></script>
</html>
